* {

  margin: inherit;

  padding: 0;

  box-sizing: border-box;

  font-family: 'poppins', sans-serif;
}

body {

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.body_form {

  background-color: #b5cdca;

}

.body_listagem {

  background-color: white;
}

.container .title {
  display: flex;
  margin-bottom: 20px;
}

.container {

  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #ffff;

}

.container header {
  font-size: 40px;
  font-weight: 600;
  color: #333;
  background-color: #5ccbbd;
}

.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
}

.container form .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}
.input-field input,
.input-field select {
  padding: 5px;
  border-radius: 15px;
  border-color: #0a0a0a;
}

.table {
  display: flex;
  background-color: white;
}

.botao {

  background-color: #5ccbbd;
  margin-top: 54px;
  height: 38px;
  width: 346px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}
.botao:hover{
  background-color: aqua;
}

.inferior-tabela {

  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5ccbbd;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}

#voltar-btn:hover {
  background-color: aqua;
}

.title {
  font-size: 5px;
}
